<html>
<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
<script>
$(function(){
    var imgId = "img1";
    var dist = 100;// 一次移动10px
    var interval = 200;// 动画完成时间

    // div内部的宽度、高度
    var containerWidth = $("#container").innerWidth();
    var containerHeight = $("#container").innerHeight();

    $("#option input").each(function(){
        $(this).click(function(){
            var curButton = $(this);
            var type = curButton.attr("id");

            var img = $("#" + imgId);

            // 判断是否触壁
            var moveDist = getMoveDist(img, type);

            // 移动
            move(img, type, moveDist);
        });
    });

    function getMoveDist(img, type){
        var moveDist = dist;
        var curDist = 0;
        if (type == "Left" || type == "Top") {
            curDist = getMargin(img, type);
            if (curDist - dist < 0) {
                moveDist = curDist;
            }
        }
        else if (type == "Right") {
            curDist = getMargin(img, "Left")+ img.outerWidth();
            if (curDist + dist > containerWidth) {
                moveDist = containerWidth - curDist;
            }
        }
        else if (type == "Down") {
            curDist = getMargin(img, "Top")+ img.outerHeight();
            if (curDist + dist > containerWidth) {
                moveDist = containerWidth - curDist;
            }
        }


        return moveDist;
    }

    function move(img, type, dist) {
        if (type == "Left") {
            img.animate({marginLeft:'-=' + dist + 'px'}, interval);
        }
        else if (type == "Right") {
            img.animate({marginLeft:'+=' + dist + 'px'}, interval);
        }
        else if (type == "Top") {
            img.animate({marginTop:'-=' + dist + 'px'}, interval);
        }
        else if (type == "Down") {
            img.animate({marginTop:'+=' + dist + 'px'}, interval);
        }
    }

    function getMargin(obj, type) {
        var sef = 0;

        var value = parseInt(obj.css("margin" + type));
        if (!value) {
            value = 0;
        }

        return value;
    }
});


</script>
<body>
<div id="container" style="border:1px solid #000; font-size:0; height:500px; width:500px;">
    <img id="img1" src="http://www.baidu.com/img/baidu_sylogo1.gif" alt="" style="border:1px solid #000; margin:0;" />
</div>
<div id="option">
    <input type="button" value="上" id="Top" />
    <input type="button" value="下" id="Down" />
    <input type="button" value="左" id="Left" />
    <input type="button" value="右" id="Right" />
</div>
</body>
</html>