{% extends 'bash.html' %}
{% block search %}

        <div class="pro-item m-tag-a first" data-src="/detail?gid=105569" data-target="_blank">
            <div class="pro-img m-img-hover"><img class=""
                                                  src="https://img.youpin.mi-img.com/800_pic/67ea506991444b0e45c9ad919f75b143.png@base@tag=imgScale&amp;h=350&amp;w=350&amp;et=1&amp;eth=480&amp;etw=480&amp;etc=FFFFFF?t=webp"
                                                  data-src="https://img.youpin.mi-img.com/800_pic/67ea506991444b0e45c9ad919f75b143.png@base@tag=imgScale&amp;h=350&amp;w=350&amp;et=1&amp;eth=480&amp;etw=480&amp;etc=FFFFFF?t=webp"
                                                  alt="小米小爱触屏音箱" style="margin-top: 0px;"></div>
            <div class="pro-tags-con"></div>
            <p class="pro-info" title="小米小爱触屏音箱">小米小爱触屏音箱</p>
            <p class="pro-desc" title=""></p>
            <p class="pro-price"><span class="pro-unit">¥</span><span class="m-num">299</span></p></div>
        <div class="pro-item m-tag-a " data-src="/detail?gid=100328" data-target="_blank">
            <div class="pro-img m-img-hover"><img class=""
                                                  src="https://img.youpin.mi-img.com/800_pic/639b31834d08d85c4de02e5a2fc426d6.png@base@tag=imgScale&amp;h=350&amp;w=350&amp;et=1&amp;eth=480&amp;etw=480&amp;etc=FFFFFF?t=webp"
                                                  data-src="https://img.youpin.mi-img.com/800_pic/639b31834d08d85c4de02e5a2fc426d6.png@base@tag=imgScale&amp;h=350&amp;w=350&amp;et=1&amp;eth=480&amp;etw=480&amp;etc=FFFFFF?t=webp"
                                                  alt="小米AI音箱" style="margin-top: 0px;"></div>
            <div class="pro-tags-con"></div>
            <p class="pro-info" title="小米AI音箱">小米AI音箱</p>
            <p class="pro-desc" title=""></p>
            <p class="pro-price"><span class="pro-unit">¥</span><span class="m-num">249</span></p></div>
{% endblock %}