{% extends 'app/details.html' %}
{% block var %}
    <div class="layout-layout-element">
        <div class="undefined layout-horizontal-vertical"><span class="close"><a class="m-icons m-icons-close-hover "
                                                                                 data-src=""
                                                                                 href="javascript:;"></a></span>
            <div class="agreement-container"><p class="title">声明与政策</p>
                <div class="content"><p>欢迎您来到小米有品！</p>
                    <p>我们依据最新法律法规要求，制定并更新了<a target="_blank"
                                             href="https://youpin.mi.com/app/shop/content?id=r094e903984fc84d4"
                                             rel="noopener noreferrer">《隐私政策》</a><span class="color-gold">、</span><a
                            target="_blank" href="https://youpin.mi.com/app/shop/content?id=V04609039c13d40e3"
                            rel="noopener noreferrer">《小米有品用户协议》</a>以及<a target="_blank"
                                                                         href="https://youpin.mi.com/app/shop/content?id=n6bbe9039974f5c51"
                                                                         rel="noopener noreferrer">《小米账号使用协议》</a>。</p>
                    <p>您需阅读并同意相关政策条款方可进行登录。</p></div>
                <div class="buttonlist">
                    <a href="login"><div class="button agree">同意并继续</div></a>
                    <a href="/app/"><div class="button reject">不同意</div></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}